




/* For mobile resolutions */ 



/* header*/
@media screen and (max-width: 768px)
{


	header{

		width:100%;
		display: block;
		margin : 0px ;
		
		
	}
	
	
	nav
{
	border-bottom: 4px solid #F2F2F2;

}


	header img
	{
		display:block;
		margin: auto;
	}
	
	nav li a 
	{
	   
		justify-content:space-between;
		
		
	} 

	nav ul

	{
	display: flex;
	justify-content: center;

	
	}
	
	nav li a:hover
	{
		border-top:none;
		border-bottom: 4px solid #0065FC;
		color: #0065FC; 
		padding:16px;
		
		   
	}


/* searchbar */
.searchbar 
{

	margin-left: 30px;
	
	
}


.research_button

{
display: none;

}

.glass
{
color: white;
display:flex;
width:50px;
height:50px;
justify-content: center;
background-color: #0065FC;
padding-top:15px;
border-radius: 15px 15px 15px 15px;
font-size:18px;

}

.inputsearch

{
	display: flex;
	height:50px;
	width: 200px;
	font-size: 18px;
	writing-mode: horizontal-tb;
	border:0.5px solid #F2F2F2
	
	
}

.placeholder
{
	padding-left:10px;
	width:240px;
	font-weight: bold;
	color:black;
	border:#F2F2F2;
	outline:none;
	
	
}




.mapicon
{
	background-color: #F2F2F2;
	display: flex;
	height:50px;
	padding-top:15px;
	width:55px;
	font-size:18px;
	justify-content: center;
	border-radius: 15px 0 0 15px;
}



/*activity mobile*/
.activitycontainer
{
	display: flex;
	flex-direction: column;
	height: auto;
	justify-content: center;
	align-items: center;
	padding-left: 10%;
    width: 90%;
}
}


