
/* Global */

* 
{
	box-sizing: border-box ;
	font-family: 'Raleway', sans-serif; /* Custom font + sans-serif pour affichage si incompatibilité avec custom font*/
    list-style-type: none ;
    text-decoration: none ;
	margin-top: 0;
    padding: 0;
}

body 
{
	margin-top:15px;
}

/* Test zone  */
main {
	width: 100%;
	max-width: 1800px;
	margin: auto;
  }

footer {
	width: 100%;
	max-width: 1800px;
	margin: auto;
  }

/* _____________________________________________________*/


/*header*/


header {
	width: 100%;
	max-width: 1800px;
	display: flex;
	justify-content: space-between;
	margin: auto;
  }

.logo_booki img
{
	padding-top: 25px;
    padding-left: 45px; 
	height: 100px;
}

.menu
{
	display: flex;
	font-weight: 500;
}

.menu_list
{
	
	width: 200px;
	text-align: center;
	padding-top: 30px;
}


nav li a
{
	text-decoration:none;
    color: black;
	
}
nav li a:hover
{
	border-top: 3px solid #0065FC;;
    color: #0065FC; 
	padding:40px;
	border-bottom:none;
}



/*Main title*/



.main_title h1 
{
	font-size: 23px;
	font-weight:800;
	padding-top:14px;
	padding-left:14px;
	margin-bottom: 0;
}

.main_title p
{
	font-weight: 500;
	padding-left:14px;
	margin-top: 8px;
	
}


/* Searchbar */


.searchbar 
{
	padding-left: 15px;
	display: flex;
	
	
	
}

.glass
{
	display: none;
}

.inputsearch

{
	display: flex;
	height:50px;
	width: 250px;
	font-size: 18px;
	writing-mode: horizontal-tb;
	border:0.5px solid #F2F2F2
	
	
}

.placeholder
{
	padding-left:10px;
	width:240px;
	font-weight: bold;
	color:black;
	border:#F2F2F2;
	outline:none;
	
	
}

.research_button
{
	color:white;
	font-weight: bold;
	height: 50px;
	width: 130px;
	background-color: #0065FC;
	border-radius: 0 15px 15px 0;
	border : transparent;

	align-self: center;
}

.mapicon
{
	background-color: #F2F2F2;
	display: flex;
	height:50px;
	padding-top:15px;
	width:55px;
	font-size:18px;
	justify-content: center;
	border-radius: 15px 0 0 15px;
}

/*filters*/

.filters
{

	display: flex;
	align-items: center;
	margin-top: 25px;
	margin-bottom:25px;
	margin-left:15px;	
}

.filters h3
{
	margin-right: 25px;	
}


.filterbuttons
{
	display:flex;
	justify-content: space-between;
	align-items: center;
	border:	solid 3px #F2F2F2;
	height:55px;
	border-radius: 30px;
	margin-right:30px ;
	transition:  200ms ease;
	
	
}



.filterbuttons:hover
{

cursor: pointer;
	transform: scale(1.1);
	font-size: 16px;
	transition:  200ms ease;

}



.filtericon
{
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #DEEBFF;
	height:53px;
	width: 53px;
	border-radius:30px;
	color:#0065FC;
	position:relative;
	right:2px;
	
}


.filtertext
{
	padding-left:15px;
	padding-right:15px;
	display: flex;
	font-weight: bolder;
	transition: 200ms;
}

.filtertext:hover

{
	color:#0065FC;
	cursor: pointer;
	transform: scale(1.1);
	font-size: 16px;
	transition:  200ms ease;
	
}

.info
{

	display: flex;
	align-items: center;
	margin-left:15px;	
	
}

.infoletter
{
	display: flex;
	justify-content: center;
	color:#0065FC;
	border: solid 2px #F2F2F2;
	border-radius: 30px;
	height:30px;
	width:30px;
	padding-top: 4px;
}


.infotext

{
	padding-left:10px;
	font-weight: 500;
	
}

.filterrow
{


	display: flex;
	align-items: center;
	
		


}




/*accomodations in Marseille + most popular */
.separatedblocks
{
	display: flex;
	justify-content: space-around;
	align-items: center;
	margin-top: 50px;
	
}

  .accomodationsize
  {
	flex: 2;
	height:800px;
	margin-right:20px;
	border-radius: 10px;
	background-color: #F2F2F2;
  }


  .accomodationtitle
  {
	padding-top:25px;
    margin-left:30px;
  }

  .accomodationimg
  {
	display: flex;
	object-fit: cover;
	align-items: center;
	width:100%;
	height:160px;
	border-radius: 15px 15px 0 0;
	


  }



  .accomodations
  {
	padding-left: 20px;
	padding-right: 20px;
	display: flex;
  	flex-direction: column;
  	justify-content: space-around;
	
	
  }

  .firstline
  {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 10px;
  }

  .secondline
  {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-top:10px;
  }

  .whitebackground
  {
	width:30%;
	background-color: white;
	padding: 0.5%;
	border-radius: 20px;
	height:auto ;
	box-shadow: 5px 5px 5px 1px #f2f2f2;
	margin-right: 25px;
	margin-left:25px;
	transition: 500ms;
	cursor:pointer
	
  }

  .whitebackground:hover
  {
	transform: translate(-10px, -10px);
	background-color: #DEEBFF;
	font-size: 16px;
	transition:  500ms ease;
	
	

  }

  .descriptioncard
  {
	
	
	padding-left:10px;
	width:90%;
	font-weight: 500;
	

  }

  .descriptioncard p 
  {
	margin-bottom: 5px;
	margin-top:4px;
  }
  .descriptioncard h3
  {
	margin-top:15px;
	margin-bottom:1px;
  }

  .displaymore
  {
	font-size: larger;
	font-weight:bolder;
	margin-left: 30px;
	padding-top:25px;
	cursor: pointer;
  }

  span
  
{
	font-weight: bold;
}

.bluestar
{
	color:#0065FC
}

.greystar
{
	color: lightgray;
}

.stars
{
	padding-bottom:10px;
}


/* Popular */


.popularsize
{
  	flex: 1;
 	 height:800px;
  	margin-left:20px;
  	border-radius: 10px;
  	background-color: #F2F2F2;
	  
 	 width: 90%;
	margin-left: 0;
	 padding: 1%;

}



.mostpopularacc
{

margin-top:0px;
}



.populartitle
{
  	display: flex;
  	justify-content: space-between;
 	
	margin-bottom:15px;
	padding-left:25px;
	padding-top:15px;
	
}

.popularimg
{
	
  object-fit: cover;
  width: 33%;
  height: 185px;
  border-radius: 15px 0 0 15px;
  transition:  500ms ease;
}

.popularimgstretch
{
	object-fit: cover;
	width: 44%;
	height: 185px;
	border-radius: 15px 0 0 15px;


}
.popularcard
{
  display: flex;
  flex-wrap: nowrap;
  background-color: white;
  height: auto;
  margin-left:25px;
  margin-right:25px;
  padding: 1% 0 1% 1%;
  border-radius: 20px;
  margin-bottom: 25px;
  box-shadow: 5px 5px 5px 1px rgb(235, 228, 228);
  transition:  500ms ease;
  cursor:pointer	
  

}

.popularcard:hover
{
	transform: translate(10px, -10px);
	background-color: #DEEBFF;
	transition:  500ms ease;
}

.blackstar
{
	font-size: 25px;
	padding-right: 25px
}

.descriptionpopular
{
	margin-bottom:75px;
	padding-left:15px;
}


.starspopular
{
	display: flex;
	margin-left:15px;
	align-items: center;
	margin-top: 70px;


}

.starspopular2
{
	display: flex;
	margin-left:15px;
	margin-top: 90px;
	align-items: center;
}


/* Activities */ 


.activities

{
	margin-top: 50px;
	margin-bottom: 50px;
  }


.activitycontainer
{
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	height: 600px;
}

.largeactivitycard
 {
	display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
	width: 23%;
	border-radius: 15px;
	box-shadow: 5px 5px 5px 1px #f2f2f2;
	height:600px;
	transition:  200ms ease;
  }

  .largeactivitycard:hover
  {
	transform: scale(1.08);
	background-color: #DEEBFF;
	transition:  200ms ease;
	cursor:pointer;	
  }


  .smallactivitycontainer 

  {
	display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 23%;
    height: 600px;
  }


  .smallactivitycard
  
  {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
	border-radius: 15px;
	box-shadow: 5px 5px 5px 1px #f2f2f2;
	transition:  200ms ease;
	cursor:pointer;	
  }

.smallactivitycard:hover
{
	transform: scale(1.08);
	background-color: #DEEBFF;
	transition:  200ms ease;
}




.activitytitle {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	padding-left: 5%;
	width: 95%;
	height: auto;
	padding-top: 1%;
  }




.spaceactivity2
{
	margin-top: 50px;
	
}



.spaceactivity4
{
	margin-top:50px;
}

  .activityimg1
  
  {
	object-fit: cover;
	width: 100%;
	height: 540px;
	border-radius: 15px 15px 0 0;
  }


  .activityimg2 
  {
	object-fit: cover;
	width: 100%;
	height: 260px;
	border-radius: 15px 15px 0 0;
  }


  .activityimg3
   {
	object-fit: cover;
	width: 100%;
	height: 160px;
	border-radius: 15px 15px 0 0;
  }

  .activityimg4
   {
	object-fit: cover;
	width: 100%;
	height: 540px;
	border-radius: 15px 15px 0 0;
  }


  .activityimg5 
  {
	object-fit: cover;
	width: 100%;
	height: 200px;
	border-radius: 15px 15px 0 0;
  }



  .activityimg6
   {
	object-fit: cover;
	width: 100%;
	height: 200px;
	border-radius: 15px 15px 0 0;
  }














/*Footer*/

.footerblock
{
	display: flex;
    justify-content: space-between;
    align-items: center;
	height: 300px;
    margin-top: 100px;
	background-color: #f2f2f2;
}


.firstcolumn
{
	margin-left: 5%;
	height: 150px;
}

.about
{
	text-decoration: none;
	height: 30px;
	color: black;
}

.websitefunct
{
	color: black;
	font-weight: 500;
}


.secondcolumn
{
	height: 150px;

}
.ouraccomodations
{
	text-decoration: none;
	height: 30px;
	color: black;
}

.thirdcolumn
{
	height: 150px;
	margin-right: 15%;

}

.assistance
{
	text-decoration: none;
	height: 30px;
	color: black;
}