@media screen and (max-width: 992px){
body 
{
	padding:0
}

header{

	
	display: block;
	
	
	
}

header img
{
	display:block;
	margin: auto;
}

nav
{
	border-bottom: 4px solid #F2F2F2;

}

nav li a 
{
   
    justify-content:space-between;
	

   
	
} 



nav li a:hover
{
    border-top:none;
	border-bottom: 4px solid #0065FC;
    color: #0065FC; 
	padding-bottom:16px;
	
	
	   
}

nav ul

{
display: flex;
justify-content: center;
width:100%;
	
}

nav ul li
{
	width:100%
}



/* searchbar */
.searchbar 
{
padding-top:5%;
padding-right: 5%;
	
}


.research_button

{
display: none;

}

.glass
{
color: white;
display:flex;
width:50px;
height:50px;
justify-content: center;
background-color: #0065FC;
padding-top:15px;
border-radius: 15px 15px 15px 15px;
font-size:18px;
position: relative;
left: -20px

}

.inputsearch

{
	display: flex;
	height:50px;
	width: 300px;
	font-size: 18px;
	writing-mode: horizontal-tb;
	border:0.5px solid #F2F2F2
	
	
}

.placeholder
{
	padding-left:10px;
	width:200px;
	font-weight: bold;
	color:black;
	border:#F2F2F2;
	outline:none;
	background-color: white;
	
	
}




.mapicon
{
	background-color: #F2F2F2;
	display: flex;
	height:50px;
	padding-top:15px;
	width:55px;
	font-size:18px;
	justify-content: center;
	border-radius: 15px 0 0 15px;
}


/* filters */


.filters
{
	flex-direction: column;
	align-items: flex-start;
	
	
}


.filterrow
{
	display: flex;
	align-items: center;
	margin-bottom: 10px;
	flex-direction: row;
	
}


.filterrowmargin 
{
	margin-top: 10px;
	
}

.filterbuttons
{
	margin-right:10px;
}

/* Accomodation+Popular */

.separatedblocks
{
display: flex;
flex-direction: column-reverse;
width:100%;
margin-left:0;

}

.popularcard
{
	transition:  200ms ease;	
}

.popularcard:hover
{
	transform: scale(1.08);
	background-color: #DEEBFF;
	transition:  200ms ease;
}

.firstline
{
	display: flex;
	flex-direction: column;
	width:95%;
	margin-bottom:auto;
}

.secondline
{
	display: flex;
	flex-direction: column;
	width: 95%;
	
	
}


.whitebackground
{
	width: 95%
}

.accomodationsize
{
	width:100%;
}

.accomodations
{
	width:100%;
	background-color: white;
	
}

.popularsize
{
	width: 100%;
	background-color: #F2F2F2;
	padding:0;
	border-radius: 0;
	
}

main  
{
	width:100%;
}

.starspopular

{
	margin-top:0;
}

.starspopular2
{
	margin-top: 0;
}

.whitebackground
{
	margin-bottom: 30px;
	margin-left:65px;
	transition:  200ms ease;
	width:100%;
}

.whitebackground:hover
{
	transform: scale(1.08);
	background-color: #DEEBFF;
	transition:  200ms ease;
}


.displaymore
{
	margin-top:0;
	margin-left: 50px;
}

.popularimgstretch
{
	object-fit: cover;
	width: 44%;
	height: 185px;
	border-radius: 15px 0 0 15px;


}



/*activities*/ 
.titleactivitiesmobile
{
	padding-left: 5%
}

.activitycontainer
{
	display: flex;
	flex-direction: column;
	height: auto;
	justify-content: center;
	align-items: center;
	
}

.smallactivitycontainer
 {
    width: 100%;
    height: auto;
	margin-bottom: 50px;
  }



  .largeactivitycard {
    width: 100%;
    margin-bottom: 50px;
	height:auto;
  }


  .activityimg1
  {
	height:200px;
  }


  .activityimg2
  {
	height:200px;
  }


  .activityimg3
  {
	height:200px;
  }



  .activityimg4
  {
	height:200px;
  }


  .activityimg5
  {
	height:200px;
  }

  
  .activityimg6
  {
	height:200px;
  }



  .activities

  {
	width:100%;
	  margin-top: 25px;
	  margin-bottom: 10px;
	}







/*FOOTER RESPONSIVE*/


.footerblock
{
	display: flex;
	flex-direction: column;
    align-items: flex-start;
    padding-left: 20px;
	height:auto;
	margin-top:0;
	
	
}

.firstcolumn
{
	margin-left:0;
}




html, body
{
	margin:0;
	padding:0;
}













}