* 
{
	box-sizing: border-box;
	font-family: 'Raleway', sans-serif; /* Custom font + sans-serif pour affichage si incompatibilité avec custom font*/
	
}



/* Test zone  */

.black_star
{
	color:black;
}

.span
{
	font-size: bold;
}
/* _____________________________________________________*/

