
/* Global */


* 
{
	box-sizing: border-box;
	font-family: 'Raleway', sans-serif; /* Custom font + sans-serif pour affichage si incompatibilité avec custom font*/
	
}

/* Test zone  */
main {
	width: 90%;
	max-width: 2560px;
	margin: auto;
  }

footer {
	width: 90%;
	max-width: 2560px;
	margin: auto;
  }

/* _____________________________________________________*/


/*header*/

header {
	width: 90%;
	max-width: 2560px;
	margin: auto;
	display:flex;
	justify-content: space-between;
	align-items: center;
  }

.logo_booki
{
	margin-top:50px;
	height:75px;
	width:150px
	
}

.menu
{
	margin-top:50px;
	list-style-type: none;
	display:flex;
	justify-content: flex-end;
	
	
	
}
.menu_list a
{
	padding:20px;
	text-decoration: none;
	font-size:24px;
	color: initial
}

.menu_list a:hover
{
color: #0065FC;
border-top: 5px solid #0065FC;
}


